@import '../theme';

.dashboard {
&.container {
     margin-top: 2em;
     min-height: 300px;
     /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
     @include center;
     flex-direction: column;
 }
&.form {
     display: flex;
     flex-direction: column;
     // justify-content: center;
     width: 30em;
     max-width: 30em;
     font-size: 16px;
     height: 50em;
     font-weight: 300;
     padding-left: 37px;
     padding-right: 37px;
     border-radius: 0.75em;
     background-color: $background;
     transition: opacity 0.5s ease, transform 0.5s ease;
     box-shadow: $dropShadow;
   }
&.title {
     color: $accent;
     margin-bottom: 20px;
     font-weight: bold;
     text-align: center;
 }
&.field {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
&.input {
     height: 35px;
     padding-left: 15px;
     //margin-left: -4px;
     margin-left: 0;
     border: none;
     border-radius: 0.75em;
     margin-top: 10px;
     margin-bottom: 10px;
     background: transparentize(yellow, 0.85);
     color: $textColor;
 }
&.label {
     color: $textColor;
     margin-bottom: 10px;
     text-transform: lowercase;
     font-weight: 300;
 }
&.button-container {
     display: flex;
     justify-content: center;
     //margin-top: 2em;
     margin-top: 10px;
     margin-bottom: 40px;
     column-gap: 20px;
     row-gap: 20px;
     flex-direction: column;
 }
}