@import 'styles/theme';

.dashboard {
  &.container {
    min-height: 300px;
    @include center;
    flex-direction: column;
    background-image: url(https://repository-images.githubusercontent.com/265447788/6d3d5600-9a32-11ea-964c-d8a5aaecb919);
  }
  &.form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 30em;
    max-width: 30em;
    font-size: 16px;
    height: 50em;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;  // To make corners of a box round
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.title {
    color: $textColor;
    //justify-content: center;
    //font-family: $fontDefault;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }
  &.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    column-gap: 20px;
    row-gap: 20px;
    flex-direction: column;
  }
  .image {
    justify-content: center;
    max-width: 100%;
    border-radius: 3px;
  }
  .image-container {
    justify-content: center;
    max-width:100%;
  }
}
