@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'styles/theme';
//@import '~@mui/material/styles';


/**
This file contains the general and shared style of your application.
 */
 body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://repository-images.githubusercontent.com/265447788/6d3d5600-9a32-11ea-964c-d8a5aaecb919);
  opacity: 0.5; /* Adjust the opacity value as needed */
  z-index: -1;
  /* Additional background styles */
}



/*.MuiButton-root {
  color: var(--button-color);
  background-color: var(--button-background);
}

.MuiTextField-root {
  color: var(--input-color);
  background-color: var(--input-background);
}*/

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}